
:root {
  --link-color: #3a3af9;
  --bg-color: #ffffff;
  --lighter-bg-color:#cccccc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --link-color: #ababff;
    --bg-color: #0e0e0e;
    --lighter-bg-color:#3a3a3a;
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.paper-title {
  font-style: italic;
}
.paper-authors {
  font-weight: bold;
}
.paper-authors .Q-B {
  text-decoration: underline;
}
.paper-venue {
  color: gray;
}
.paper-preprint {
  border-radius: 8px;
  border: 1px solid #848484;
  padding: 4px;
  display: inline-block;
  font-size: 0.7em;
  margin-top: 10px;
}
.paper-preprint:hover {
  background-color: var(--lighter-bg-color);
}
a.paper-preprint:hover {
  text-decoration: none;
}

.anr-logo { fill: #131718 } 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #efefef;
  }
  .anr-logo { fill: #fefefe } 
  a {
    color: var(--link-color);
  }
}
